@import url('https://fonts.googleapis.com/css?family=Varela+Round');


    $color-1: #1d8a59;
    $color-2: #dae5a8;
    $color-3: #34055b;
    $color-4: #2af5f2;
  
body
{
    font-family: 'Varela Round', sans-serif; 
}
  
  
.header
{
    position: relative;
    height: 80vh;
    display: block;    
}
  
  
.header-background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( $color-1, $color-2);
    transform-origin: 0px 0px;
    transform: skewY(-10deg);
    overflow: hidden;
    z-index: -1;    
}
    
.header-background::before, .header-background::after
{
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: calc(100%/3);
    opacity: .3;
    filter: blur(15px);
   
}
      
.header-background::before
{
    background: $color-1;
    right: 0;  
}
      
.header-background::after
{
    background: $color-2;
    bottom: 0    
}
      
.header-content
{
    text-align: center;
    padding: 4rem 4rem;
    margin: 0 auto;   
}
         
h1, p
{
    color: rgb(235, 218, 238);
    text-shadow: 0 .5rem 1rem rgba(50, 0, 100, .1);
}
      
h1
{
    margin: 0;
    font-size: 3rem; 
    transform: skewY(10deg);    
}
      
p
{
    padding-top: 10%;
    font-size: 1.2rem;
    margin-bottom: 2rem ;
}
      
.header-visuals
{
    position: relative;
    margin-top: 5rem;
    transform: rotate(-10deg);    
}

.iphone
{
    display: inline-block;
    background: white;
    padding: 4rem .6rem 0;
    border-radius: 2rem;
    box-shadow: -1rem 1.75rem 2rem -.4rem rgba(50, 0, 100, .1), -.2rem .2rem .5rem rgba(50, 0, 100, .05), inset .5rem -.5rem .5rem -.4rem rgba(50, 0, 100, .1);
    text-align: center;    
}
  
.iphone::before, .iphone::after
{
    content: '';
    display: block;    
}

.iphone::before
{
    background-color: $color-3;
    background-image: linear-gradient(to right, $color-3, $color-4);
    width: 16rem;
    padding-top: 177.5% ;   
}
    
.iphone::after
{
    display: inline-block;
    margin: .6rem;
    padding: 1.4rem;
    border: 1px solid #f1f1f1;
    border-radius: 2rem;
    box-shadow:  inset -.05rem .05rem .5rem 0rem rgba(50, 0, 100, .05) ;   
}

@media(min-width: 700px)
{
    .header-content
    {
        text-align: left;
        padding: 10rem 4rem;
        display: flex;
        justify-content: space-between;    
    }
    .header-visuals
    {
        margin: 0;
        transform: translateY(-5rem) rotate(-10deg);
    }
    p
    {
        width: 35vw;
    }
}

@media(min-width: 1200px)
{
    h1, p
    {
        margin-left: 10vw;
    }
    .iphone
    {
        margin-right: 15vw;
    }
    .iphone::before
    {
        background-image: url("../../../assets/img/barcode.jpg");
        background-position: center ;
        background-repeat: no-repeat;
    }
}