<div class="header">
    <div class="header-background header-content">
        <div class="header-hero">
            <h1>CheckFood, <br> Une App pour tous</h1>
            <p>Une application pour mieux connaître nos produits du quotidien</p>
        </div>
        <div class="header-visual">
            <div class="iphone"></div>
        </div>
    </div>
</div>