
        <tr *ngFor="let task of inputFromParent; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.date | date : "dd/MM/yyyy" }}</td>
            <td (click)="changeTask(i)">{{ task.done | icon}}</td>
            <td> <button class="btn btn-outline-danger" (click)="delete(i)">Supprimer</button></td>
        </tr>
