<zxing-scanner (scanSuccess)="handleCodeResult($event)" [formats]="allowedFormats" ></zxing-scanner>
<section class="results" *ngIf="resultatString">
    <small>Result</small>
    <strong>{{ resultatString }}</strong>
</section>