<div class="container">
    <h2 class="text-center display-3">Liste des clients</h2>
    <hr>
    <table class="table table-stripped table-style my-4">
        <thead>
            <tr>
                <td>#</td>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Email</td>
                <td>Téléphone</td>
                <td>Adresses</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of dataClients">
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.adressId | nbAdress }}</td>
                <td><button class="btn btn-outline-success" (click)="view($event)">Détails</button>
                    <button class="btn btn-outline-primary mx-2">Editer</button>
                    <button class="btn btn-outline-danger">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
    <div class="div_btn">
        <button class="btn_style p-3" [routerLink]="['ajout']">Ajouter Client</button>
    </div>
</div>