<h1 class="mt-2">Résultat du formulaire</h1>
<section>
    <div *ngIf="data!=null; else info">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Civilité</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>
            <th>Phone</th>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Condition</th>
            <th>Contact Promo</th>
            <th>Contact Conseiller</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let user of data, index as i">
            <td>{{ i }}</td>
            <td>{{ user.genre | uppercase}}</td>
            <td>{{ user.lastName | uppercase}}</td>
            <td>{{ user.firstName | uppercase }}</td>
            <td>{{ user.email | uppercase }}</td>
            <td>{{ user.tel | uppercase }}</td>
            <td>{{ user.city | uppercase }}</td>
            <td>{{ user.zip | uppercase }}</td>
            <td>{{ user.cgu | logo}}</td>
            <td>{{ user.promo | logo}}</td>
            <td >{{ user.contact | logo }}</td>
        </tr>
        </tbody>
        </table>
    </div>
    </div>

    <ng-template #info>
        <div class="bg_gradient text-center p-3 mb-4">
            <p>La liste des prospects est vide ..</p>
        </div>
    </ng-template>

    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-warning" [routerLink]="['/home']">Retour</button>
        <button class="btn btn-outline-danger" (click)="delete()">Clear</button>
    </div>

</section>