<mat-stepper #stepper (selectionChange)="give($event)">
    <mat-step label="Step 1">
        <div class="btn">
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 2">
        <div class="btn">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 3">
        <div class="btn">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 4">
        <div class="btn">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Step 5">
        <div class="btn">
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
  </mat-stepper>
  

  
