button
{
    background-color: rgb(71, 164, 133);
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20vw;
    margin-left: 20vw;
}

.btn
{
    position: absolute;
    top: 50%;
}