<div class="d-flex justify-content-center mt-2">
    <figure class="figImg">
        <div class="image" ><img *ngIf="products[id].img == ''; else imgProduct" src="https://cdn.pixabay.com/photo/2016/12/11/08/01/coming-soon-1898936_960_720.jpg" alt="produit à venir"/>
            <ng-template #imgProduct><img src="{{products[id].img}}" alt="Image du produit"></ng-template>
          <p>
            <span class="display-6">Description</span>
            {{ products[id].productAdjective}} 
            <br>
            {{ products[id].productMaterial}}
            <br>{{ products[id].product }}
        </p>
        </div>
        <figcaption>
          <h3>{{ products[id].productName }}</h3>
          <h5>{{ products[id].price }}</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-info" [routerLink]="['']">←</button>  
          </div>
          
        </figcaption>
      </figure>
</div>