@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.figImg {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #34495e;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.figImg * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.figImg img {
  max-width: 100%;
  vertical-align: top;
}
figure.figImg .image {
  position: relative;
  border-bottom: 4px solid #34495e;
  z-index: 1;
}
figure.figImg .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.figImg .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}
figure.figImg figcaption {
  background-color: #ffffff;
  padding: 25px;
}
figure.figImg h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}
figure.figImg h3 span {
  font-weight: 800;
}
figure.figImg h5 {
  margin: 0 0 15px;
  font-weight: 400;
}
figure.figImg i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}
figure.figImg i:hover {
  background-color: #34495e;
  color: white !important;
}
figure.figImg:hover .image:before,
figure.figImg.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
figure.figImg:hover .image p,
figure.figImg.hover .image p {
  opacity: 1;
}
figure.figImg:hover img,
figure.figImg.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

figcaption button:hover
{
    color: white;
}