<form action="" class="d-grid w-75 m-auto" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row justify-content-between">
        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control" id="floatingTitle" placeholder="Tache A" name="title" ngModel>
            <label for="floatingTitle" class="ps-4 text-info">Titre de la tâche</label>
          </div>
          <div class="form-floating col-6">
            <input type="text" class="form-control" id="floatingDescription" placeholder="Description" name="description" ngModel>
            <label for="floatingDescription" class="ps-4 text-info">Description</label>
          </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="row col-2 btn btn-outline-info me-1" id="btn_send">Ajouter la tâche</button>     
    </div>
       
</form>
