$color-3: #34055b;

.template_modal
{
    color: $color-3;
}
.deconnexion
{
    height: 30px;
}
.dark_backdrop
{
    background-color: rgb(18, 16, 16);
    filter: blur(1em);
}
.btn_deco
{
    width: 190px;
}