<div class="text-center">
    <button class="btn btn-outline-info p-2 mb-4 btn_deco" (click)="exit(content)"> <img src="../../../assets/img/deco.png" alt="Deconnexion" class="deconnexion"> Deconnexion</button>
</div>

<ng-template #content let-modal class="template_modal">
    <div class="modal-header">
        <h4 class="modal-title text-center"> <img src="../../../assets/img/bye.png" alt="Au revoir"> See u soon !</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p class="text-center">Vous avez bien été déconnecté, à bientôt!</p>
    </div>
</ng-template>