<div class="container d-flex flex-row justify-content-center mt-4">
    
    <form action="" [formGroup]="myForm" (ngSubmit)="validate()">
        <div class="form_style">
            
            <div class="row"> 
                <div class="col-6">
                    
                    <input type="radio" value="madame" formControlName="genre" class="btn-check" id="madame">
                    <label class="btn btn-outline-success" for="madame">Madame</label>
                </div>
                <div class="col-6">
                    <input type="radio" value="monsieur" formControlName="genre" class="btn-check" id="monsieur" >
                    <label class="btn btn-outline-success" for="monsieur">Monsieur</label>
                </div>
            </div>
            
            <div class="row my-3">
                
                <div class="col-6">
                    <label for="lastName">Nom : </label>
                    <input type="text" name="" id="" formControlName="lastName" class="form-control"/>
                    <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
                        <div *ngIf="lastName.errors">
                            <small>Le champ est requis</small>
                        </div>
                    </div>
                </div>
                
                <div class="col-6">
                    <label for="firstName">Prénom : </label>
                    <input type="text" name="" id="" formControlName="firstName" class="form-control"/>
                    <div *ngIf="firstName.invalid && firstName.touched" class="text-danger">
                        <div *ngIf="firstName.errors">
                            <small>Le champ est requis</small>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            <div class="row my-3">
                <div class="col-6">
                    <label for="email">Mail : </label>
                    <input type="email" name="" id="" formControlName="email" class="form-control"/>
                    <div *ngIf="email.invalid && email.touched" class="text-danger">
                        <div *ngIf="email.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                        <div *ngIf="email.hasError('pattern')">
                            <small><p>L'email doit être de type "exemple@gmail.fr" ou "ex@mail.com"</p></small>
                        </div>
                    </div>
                </div>
                
                <div class="col-6">
                    <label for="tel">Téléphone : </label>
                    <input type="text" formControlName="tel" class="form-control">
                    <div *ngIf="tel.invalid && tel.touched" class="text-danger">
                        <div *ngIf="tel.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                    </div>
                    <div *ngIf="tel.invalid && tel.touched" class="text-danger">
                        <div *ngIf="tel.hasError('pattern')">
                            <small><p>Le numéro de téléphone doit être de type 0XXXXXXXXX, 0033XXXXXXXXX ou +33XXXXXXXXX</p></small>
                        </div>
                    </div>
                </div>  
            </div>
            
            <div class="row my-3">                   
                <div class="col-6">
                    <label for="city">Ville : </label>
                    <input type="text" formControlName="city" class="form-control">
                    <div *ngIf="city.invalid && city.touched" class="text-danger">
                        <div *ngIf="city.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label for="zip">Code Postal : </label>
                    <input type="text" formControlName="zip" class="form-control">
                    <div *ngIf="zip.invalid && zip.touched" class="text-danger">
                        <div *ngIf="zip.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                    </div>
                    <div *ngIf="zip.invalid && zip.touched" class="text-danger">
                        <div *ngIf="zip.hasError('maxlength') || zip.hasError('minlength')">
                            <small>Le code postal doit être composé de 5 caractères</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <input type="checkbox" formControlName="cgu" value="cgu" id="cgu" class="me-3">
                <label for="cgu">J'accepte les conditions générales d'utilisation</label>
                <div *ngIf="cgu.invalid && cgu.touched" class="text-danger">
                    <div *ngIf="cgu.errors">
                        <small>Vous devez accepter les conditions générales d'utilisation</small>
                    </div>
                </div>
            </div>
            <div>
                <input type="checkbox" formControlName="promo" value="promo" class="me-3">
                <label for="promo">Etre informé des offres promotionnelles en lien avec la rénovation</label>
            </div>
            <div>
                <input type="checkbox" formControlName="contact" value="contact" class="me-3">
                <label for="contact">Etre contacté par un conseiller rénovation-travaux pour le suivi de votre projet</label>
            </div>
            
        </div>
        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!myForm.valid">Validation</button>
        </div>

    </form>
</div>
