$color-3: #34055b;

.form_style
{
    border: dotted rgb(109, 177, 223) 2px;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
} 
form, .connected
{
    color: $color-3
}
.return
{
    width: 90vw;
    text-align: end;
}

@media(min-width: 900px)
{
    .form_style
    {
        width: 750px;
    } 
    .return
    {
        width: 750px;
        margin: auto;
    }
    .form_group
    {
        display: flex;
        justify-content: space-between;
    }
    .form_group div
    {
        width: 300px;
    }
}