<h2 class="text-center display-3">Ajouter une adresse</h2>
<hr class="w-75 m-auto">  
<div class="container d-flex justify-content-center my-4 myForm ">      
    <form action="" [formGroup]="myForm" (ngSubmit)="validate()" class="w-75">
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="num" class="col-form-label">Numéro de voie : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="num">
            </div>
            <div *ngIf="num.invalid && num.touched" class="text-danger">
                <div *ngIf="num.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="rue" class="col-form-label">Nom de voie : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="rue">
            </div>
            <div *ngIf="rue.invalid && rue.touched" class="text-danger">
                <div *ngIf="rue.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="postal" class="col-form-label">Code postal : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="postal">
            </div>
            <div *ngIf="postal.invalid && postal.touched" class="text-danger">
                <div *ngIf="postal.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="ville" class="col-form-label">Commune : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="ville">
            </div>
            <div *ngIf="ville.invalid && ville.touched" class="text-danger">
                <div *ngIf="ville.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="adresse">Habitants :</label>
            </div>
            <div class="col-9">
                <select formControlName="adresse" id="" class="form-select" size="4">
                    <option *ngFor="let client of dataClients" value="{{ client.id }}"> {{client.prenom}} {{client.nom | uppercase}} </option>
                    <option value="">Ajouter un nouvel habitant</option>
                </select>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-outline-danger mt-4 mb-2" [disabled]="!myForm.valid">Ajouter</button>
        </div>

    </form>
</div>