<h1 class="text-center display-2 mb-4">ToDoList :</h1>
<app-add-task (giveTask)="takeTask($event)"></app-add-task>
<table class="table table-info table-stripped w-75 m-auto mt-5" *ngIf="todo.length">
    <thead>
        <tr>
            <th>Numéro de la tâche</th>
            <th>Titre de la tâche</th>
            <th>Description de la tâche</th>
            <th>Date d'ajout</th>
            <th>Status</th>
            <th>Supprimer?</th>
        </tr>
    </thead>
    <tbody app-display-task [inputFromParent]='todo' (giveTodo)="takeTodo($event)">
    </tbody>
</table>