$color-1: #1d8a59;
$color-2: #dae5a8;
$color-3: #34055b;
$color-4: #2af5f2;

.subtitle
{
    color: $color-1;
}

.carousel h3
{
    color: $color-2;
    text-shadow: 1px 1px 1px $color-3;
}

.carousel-caption
{
    position: absolute;
    bottom: 30vh;
}

.carousel img
{
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}

.scd_img
{
    object-position: bottom;
    transform: scale(1.5);
}

.div-info_more
{
    color: $color-3;
    font-size: large;
}