<div class="text-center m-5">
    <h3 class="subtitle">CheckFood, un bien joli nom, mais c'est quoi ?</h3>     
</div>
 
 <ngb-carousel *ngIf="images" class="carousel mt-5 pt-5">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3 class="display-5 fw-bold">De nombreux produits connus!</h3>
        <p class="display-6">Scanner son produit pour en savoir plus</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper scd_img">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3 class="display-5 fw-bold">Connaître les caractéristiques du produit</h3>
        <p class="text-dark display-6">Lister les ingrédients d'un produit</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3 class="display-5 fw-bold">Sans conservateur ? Sans huile de palme ?</h3>
        <p class="display-6">Quels sont les bienfaits de mon produit ?</p>
      </div>
    </ng-template>
  </ngb-carousel>

<div class="mt-5 text-center div-info_more">
    <p>Et bien plus encore à découvrir!</p>
    <button class="my-5 btn btn-outline-info" routerLink="authentification">Démarrer</button>
</div>