<div id="header">
  <div class="main-gradient">
  </div>  
</div>

<div class="dots">
  <div class="fade-top">
    <div class="d-flex justify-content-center align-items-baseline pt-5">
        <img src="../../../assets/img/house.svg" alt="" id="logo_header" >
        <h1 class=" d-flex justify-content-center ">{{titre}}</h1>    
      </div>
  </div>
</div>