<div *ngIf="saisir; else scan" class="container d-flex justify-content-center my-4 form_style text-center">
    <form action="" [formGroup]="scannerForm" (ngSubmit)="validate()">
        <h2 class="mb-3">Saisie Manuelle</h2>
        <input type="text" formControlName="ean" class="form-control mb-3">
        <div *ngIf="ean.touched && ean.invalid" class="text-danger">
            <small>Le champ est requis, il doit comporter 13 chiffres</small>
        </div>
        <button type="submit" class="btn btn-outline-info" [disabled]="!scannerForm.valid">Valider</button>
    </form>
</div>

<ng-template #scan>
    <app-scan-ean></app-scan-ean>   
</ng-template>

<div class="text-center my-4">
    <button class="btn btn-outline-info p-3" (click)="change()">{{saisie}}</button>
</div>
<app-modal></app-modal>


