

.form_style
{
    border: dotted rgb(109, 177, 223) 2px;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
} 

@media(min-width: 700px)
{
    .form_style
    {
        width: 554150px;
    } 
}