<div class="container">
    <h2 class="display-2">Welcomes Guys !</h2>    
    <hr>
    <div>
        <p>
            Récupérons et traitons les données clients et leurs adresses pour organiser de manière efficace les déménagements!
        </p>
        <p>La navigation est hyper fluide, vous permettant d'accéder aux différentes sections. Vous pourrez <b>Voir</b>, <b>Créer</b>, <b>Editer</b>, <b>Supprimer</b> les données contenues. </p>
    </div>
</div>