<h2 class="text-center my-4">Catalogue</h2>
<div class="d-flex justify-content-around">
    <div *ngFor="let p of pokemon" class="text-center">
        <img src="{{ p.img }}" />
        <p>{{ p.name | uppercase }}</p>
    </div>
</div>

<div class="d-flex justify-content-center mt-4">
    <button (click)="prev()" [ngClass]="{'hidden': fstPokemons}" class="btn btn-outline-info me-4">Prev</button>
    <button (click)="next()" class="btn btn-outline-info">Next</button>
</div>