<div class="return">
    <button class="btn btn-outline-info" routerLink="/authentification" id="btnRetour" >Retour</button>
</div>

<div class="container d-flex justify-content-center my-4 myForm">
    
    <form action="" [formGroup]="myForm" (ngSubmit)="validate()">
        <h2 class="text-center"><img src="../../../assets/img/register.png" alt="s'inscrire"> Inscription</h2>
        <div class="form_style">
            <div class="form_group">
                <div>
                    <label for="email">Mail : </label>
                    <input type="email" name="" id="" formControlName="email" class="form-control"/>
                    <div *ngIf="email.invalid && email.touched" class="text-danger">
                        <div *ngIf="email.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                        <div *ngIf="email.hasError('pattern')">
                            <small><p>L'email doit être de type "exemple@gmail.fr" ou "ex@mail.com"</p></small>
                        </div>
                    </div>
                </div>
                <div>
                    <small *ngIf="!password.invalid"><i class="bi bi-check-circle text-success me-2"></i></small>
                    <label for="password">Password : </label>
                    <input type="password" name="" id="" formControlName="password" class="form-control"/>
                    <div *ngIf="password.invalid && password.touched" class="text-danger">
                        <div *ngIf="password.hasError('required')">
                            <small>Le champ est requis</small>
                        </div>
                        <div *ngIf="password.hasError('pattern')">
                            <small><p>Le mdp doit comporter au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</p></small>
                        </div>
                    </div>
                </div>
            </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-info mt-4 mb-2" [disabled]="!myForm.valid">S'inscrire</button>
                </div>
        </div>
    </form>
</div>