<div class="tbl-header mt-5 w-75 m-auto">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="fw-bold">Produit</th>
          <th class="fw-bold">Prix</th>
          <th class="fw-bold">Couleur</th>
          <th class="fw-bold">Catégorie</th>
          <th class="fw-bold">Détails ?</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content w-75 m-auto">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr *ngFor="let product of products, index as i">
          <td>{{ product.product | uppercase }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.color | uppercase }}</td>
          <td>{{ product.department | uppercase}} </td>
          <td><button class="btn btn-outline-warning" (click)="navigate(i)">Voir le produit</button></td>
        </tr>
      </tbody>
    </table>