<h2 class="text-center display-3">Détail du client n°{{dataClient.id}} </h2>
<hr class="w-75 m-auto">  
<div class="container d-flex justify-content-center my-4 myForm ">      
    <form action="" class="w-75">
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="nom" class="col-form-label">Nom : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" value="{{ dataClient.nom | uppercase}}" readonly>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="prenom" class="col-form-label">Prenom : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" value="{{ dataClient.prenom }}" readonly>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="date" class="col-form-label">Date de naissance : </label>
            </div>
            <div class="col-9">
              <input type="date" class="form-control" value="{{ dataClient.date }}" readonly>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="homme" class="col-form-label">Est-ce un Homme?</label>
            </div>
            <div class="col-9">
                <input type="checkbox" id="" value="{{ dataClient.homme }}" checked="{{dataClient.homme}}">
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="tel">Téléphone : </label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" value="{{ dataClient.tel }}" readonly />
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="email">Mail :</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" value="{{ dataClient.email }}" readonly/>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="adresse">Adresses</label>
            </div>
            <div class="col-9" *ngIf="adress!=undefined; else adressInfo">
                <input type="text" name="" id="" value="{{adress | adress}}" class="form-control" readonly/>
                <!-- Take id -->
            </div>
            <ng-template #adressInfo>
                <div class="col-9">
                    <input type="text" class="form-control" value="Pas encore d'adresse connue" readonly/>
                </div>
            </ng-template>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-outline-danger mt-4 mb-2" [routerLink]="['edit']">Modifier</button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-outline-danger mt-4 mb-2" [routerLink]="['/clients']">Retour</button>
        </div>
    </form>
</div>