<div class="container">
    <h2 class="text-center display-3">Liste des adresses</h2>
    <hr>
    <table class="table table-stripped table-style my-4">
        <thead>
            <tr>
                <td>#</td>
                <td>Numéro</td>
                <td>Nom de la voie</td>
                <td>Code Postal</td>
                <td>Ville</td>
                <td>Habitants</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adresse of dataAdresses">
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.num }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.postal }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.habitants }}</td>
                <td><button class="btn btn-outline-success">Détails</button>
                    <button class="btn btn-outline-primary mx-2">Editer</button>
                    <button class="btn btn-outline-danger">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
    <div class="div_btn">
        <button class="btn_style p-3" [routerLink]="['/ajout-adresse']">Ajouter Adresse</button>
    </div>
</div>