.table-style
{
    background-color: rgb(238, 218, 193);
    max-height: 70vh;
    overflow: auto;
}

td
{
    overflow: auto;
}
.div_btn
{
    position: absolute;
    bottom: 10vh;
    right: 8vw;
}
.btn_style
{
   background-color: rgb(247, 170, 170);
   border-radius: 5px;
   border: none;
}