.btn_div
{
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}

@media(min-width: 991px)
{
    .btn_div
    {
        flex-direction: row;
        margin-top: 5vh;
    }
    .btn_div button
    {
        width: 30vw;
    }
}