

<div class="btn_div container">
    <button class="btn btn-outline-info m-3" routerLink="/login">Se connecter ?</button>

    <button class="btn btn-outline-info m-3" routerLink="/register">Créer un compte</button>    
</div>
<router-outlet></router-outlet>