<nav class="navbar sticky-top navbar-dark navbar-expand-lg nav fs-3 d-flex justify-content-center">
    <a class="navbar-brand mb-0 ms-2 fs-1" href="#">My Poke App</a>
    <div class="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item m-3">
            <a class="nav-link" [routerLink]="['catalogue']">Catalogue</a>
          </li>
          <li class="nav-item m-3">
            <a class="nav-link" href="#">Profil</a>
          </li>
          <li class="nav-itel m-3">
            <a href="" class="nav-link">{{ login }}</a>
        </li>
        </ul>
      </div>
  </nav>