<div class="container">
    
  <div class="card_content" *ngFor="let server of servers">
    <div class="face face1">
      <div class="content">
        <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
          <h3>{{server.nom}}</h3>
      </div>
    </div>
    <div class="face face2">
      <div class="content">

        <div *ngIf="affiche; then taille else change"></div>
        
        <ng-template #taille>
          <p>Taille du serveur : {{server.taille }} TB</p>
        </ng-template>
          
       
        <ng-template #change>
          <p>Taille du serveur : {{server.taille | enum }}</p>
        </ng-template>

        <p>Status : {{server.status}}</p>        
        <p>Mise en service : {{server.date | date: "dd/MM/yyyy"}}</p>
      </div>
    </div>
  </div>

  <div class="card_content">
    <div class="face face1">
      <div class="content text-light">
        <p>Afficher la taille des serveurs</p>
      <button class="btn btn-outline-light" (click)="change($event)">en caractère ?</button>
    </div>
  </div>
  
    
  </div>

</div>
   

<div class="mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Taille</th>
          <th scope="col">Status</th>
          <th scope="col">Date de mise en service</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let server of servers | sorting">
          <td>{{server.nom}}</td>
          <td>{{server.taille}}</td>
          <td>{{server.status}}</td>
          <td>{{server.date | date: "dd/MM/yyyy"}}</td>
        </tr>
      </tbody>
    </table>
</div>
