<div *ngIf="status; else error" class="d-flex flex-column justify-content-center text-center container">
    <h2 class="display-3 mt-4">Informations sur le produit</h2>
    
    <div class="d-flex flex-column card border-info">
        <img src="{{ produit.img }}" alt="" class="mt-5 product_img">
        <h3>{{produit.name}}</h3>
        <p class="fst-italic">{{produit.ean}}</p>
        <p>{{produit.brand}}</p>
        <div class="ingredient_div my-3">
            <h4 class="text-center"><img src="https://cdn-icons-png.flaticon.com/512/76/76022.png" alt="" class="icon"> Ingrédients</h4>
            {{produit.ingredients}}
        </div>
        <div class="warning my-3"> 
            <h4 class="text-warning">WARNING: Allergènes</h4>
            {{produit.allergens}}
        </div>
        <div>
            <p *ngIf="produit.cal != null; else nokcal">{{produit.cal}} kcal</p>
            <ng-template #nokcal>
                <p>0 kcal</p>
            </ng-template>
        </div> 
        <div class="nutriscore">
            <img src="{{produit.nutriscore | nutriscore}}" alt="Nutriscore {{produit.nutriscore}}" class="w-75">
        </div>
        
        <p *ngIf="produit.carbon!= null"><img src="https://cdn.icon-icons.com/icons2/2622/PNG/512/weather_smoke_icon_157353.png" alt="" class="icon_bis"> Emprunte Carbon: {{produit.carbon}} g</p>

        <table class="text-start w-75 m-auto mb-3">
            <tbody>
                <tr *ngFor="let prod of produit.specificites | specificite">
                    <td>{{prod}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    
</div>


<ng-template #error >
    <div class="w-75 m-auto my-2">
        <h2 class="text-center">Produit introuvable..</h2>
        <p>Malheureusement le produit recherché n'existe pas où a mal été saisi .. <br>
            Merci de le saisir ou de scanner à nouveau !
        </p>
    </div>
</ng-template>

<div class="text-center">
    <button class="btn btn-outline-info p-2 my-4 btn_return" [routerLink]="['/scanner']"><img src="../../../assets/img/retour.png" alt="retour" class="return" > Retour au scanner</button>    
</div>

<app-modal></app-modal>