$color-1: #1d8a59;
$color-2: #dae5a8;
$color-3: #34055b;
$color-4: #2af5f2;

h2
{
    color: $color-1;
}

h3
{
    color: $color-3;
}

.product_img
{
    width: 270px;
    margin: auto;
}
.warning
{
    border: dotted 4px $color-2;
    width: 75vw;
    margin: auto;
    padding: 5px;
}
.icon
{
    width: 30px;
}
.icon_bis
{
    width: 20px;
}
.ingredient_div
{
    width: 75vw;
    border: dotted 4px $color-2;
    background-color: $color-1;
    color: white;
    margin: auto;
    text-align: justify;
    padding: 5px;
}

.return
{
    height: 30px;
}
.btn_return
{
    width: 190px;
}