<div>
    <h2>Camel Pipe</h2>
    <ul>
        <li *ngFor="let sentence of text">{{sentence | camel }}</li>
    </ul>
    <h2>Trim Pipe</h2>
    <ul>
        <li *ngFor="let sentence of text">{{sentence | trim}}</li>
    </ul>
    <h2>Both</h2>
    <ul>
        <li *ngFor="let sentence of text">{{sentence | camel | trim}}</li>
    </ul>
</div>
