<h2 class="text-center display-3">Ajouter un client</h2>
<hr class="w-75 m-auto">  
<div class="container d-flex justify-content-center my-4 myForm ">      
    <form action="" [formGroup]="myForm" (ngSubmit)="validate()" class="w-75">
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="nom" class="col-form-label">Nom : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="nom">
            </div>
            <div *ngIf="nom.invalid && nom.touched" class="text-danger">
                <div *ngIf="nom.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="prenom" class="col-form-label">Prenom : </label>
            </div>
            <div class="col-9">
              <input type="text" class="form-control" formControlName="prenom">
            </div>
            <div *ngIf="prenom.invalid && prenom.touched" class="text-danger">
                <div *ngIf="prenom.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="date" class="col-form-label">Date de naissance : </label>
            </div>
            <div class="col-9">
              <input type="date" class="form-control" formControlName="date">
            </div>
            <div *ngIf="date.invalid && date.touched" class="text-danger">
                <div *ngIf="date.errors">
                    <small>Le champ est requis</small>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
              <label for="homme" class="col-form-label">Est-ce un Homme?</label>
            </div>
            <div class="col-9">
                <input type="checkbox" formControlName="homme" id="">
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="tel">Téléphone : </label>
            </div>
            <div class="col-9">
                <input type="text" formControlName="tel" class="form-control">
                <div *ngIf="tel.invalid && tel.touched" class="text-danger">
                    <div *ngIf="tel.hasError('required')">
                        <small>Le champ est requis</small>
                    </div>
                </div>
                <div *ngIf="tel.invalid && tel.touched" class="text-danger">
                    <div *ngIf="tel.hasError('pattern')">
                        <small><p>Le numéro de téléphone doit être de type 0XXXXXXXXX, 0033XXXXXXXXX ou +33XXXXXXXXX</p></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="email">Mail :</label>
            </div>
            <div class="col-9">
                <input type="email" name="" id="" formControlName="email" class="form-control"/>
                <div *ngIf="email.invalid && email.touched" class="text-danger">
                    <div *ngIf="email.hasError('required')">
                        <small>Le champ est requis</small>
                    </div>
                    <div *ngIf="email.hasError('pattern')">
                        <small><p>L'email doit être de type "exemple@gmail.fr" ou "ex@mail.com"</p></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-2">
            <div class="col-3">
                <label for="adressId">Adresses</label>
            </div>
            <div class="col-9">
                <select formControlName="adressId" id="" class="form-select" size="4">
                    <option *ngFor="let adress of dataAdresses" value="{{ adress.id }}"> {{adress | adress}}</option>
                    <option value="">Ajouter une nouvelle adresse</option>
                </select>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-outline-danger mt-4 mb-2" [disabled]="!myForm.valid">Ajouter</button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-outline-danger mt-4 mb-2" [routerLink]="['/clients']">Retour</button>
        </div>
    </form>
</div>